body{
  background-color: #202124;
  margin: 0;
  padding: 0;
}


.App {
  display: flex;
  flex-direction: row;
}


 .side-bar {
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content:stretch;
  width: 244px;
}


